<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mt-5">Login</h2>
            <form th:action="@{/login}" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div th:if="${param.error}">
                    <div class="alert alert-danger" role="alert">
                        Invalid Credentials or E-Mail is not verified.
                    </div>
                </div>
                <div th:if="${param.logout}">
                    <div class="alert alert-success" role="alert">
                        You have been logged out successfully.
                    </div>
                </div>
                <button type="submit" class="btn btn-primary w-100">Login</button>
                <div class="text-center mt-3">
                    <a th:href="@{/signup}">Don't have an account? Sign up.</a>
                </div>
            </form>

            <div class="text-center mt-3">
                <a th:href="@{/forgotPassword}">Forgot your Password? Reset here.</a>
            </div>

            <div th:if="${param.verified}">
                <div class="alert alert-success" role="alert">
                    Your E-Mail has been verified successfully. You can now log in.
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>